.title-info {
  background: black;
  color: lightgrey;
  height: 80px;
  margin-top: 0;
  padding-top: 10px;
  text-align: center;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}

.intro {
  display: flex;
  flex-direction: row;
  font: 12px;
  font-weight: 200;
  padding-left: 15px;
}

.intro span {
  padding-bottom: 5px;
  padding-left: 15px;
  padding-top: 50px;
}

.intro-info {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.personal-info p {
  padding-left: 15px;
  padding-right: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  background: black;
  color: lightgrey;
  margin-top: 110px;
}

.footer-info span {
  margin-bottom: 15px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 20px;
}
a:link    { color: blue;  }
a:visited { color: red;   }
a:hover   { color: green; }
a:active  { color: pink;  }

.contact-info li {
  margin-bottom: 15px;
}

.inner-body {
  background: #ffe4a8;
  margin-top: -40px;
  margin-bottom: -150px;
  padding-bottom: 100px;
}

.img-jonathan {
  margin-left: 50px;

}

.about-char {
  color: #919191;
  font-family: Tahoma;
  font-size: 30px;

}

.about-content {
  font-size: 20px;
}